.hero {
    background-color:#1F2937;
    color:#ffffff;
    margin: -30px -10px 0px -10px;
}
.main {
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
}
.flex-container2 {
   display: flex;
   justify-content: space-evenly;
   gap: 52px;
}
.top {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    
}

.about, .videos, .listen {
    margin: 10px 100px 10px 10px;
    padding: 10px;
    border: 1px solid white;
   
}

.header {
    margin-right: auto;
    margin-left: 64px;
    margin-top: 10px;
    color: #F9FAF8;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 100px;
}
h3 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -30px;
}
.button {
    margin-left: 100px;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: #3882F6;
    
}

.image {
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h6{
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 5px;
    font-style: normal;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
.work {
    max-width: 200px;
}

.text {
    text-align: center;
    font-family: Courier New;
}
.text2 {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Courier New;
    text-align: justify;
}
.images {
    border-radius: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid #3882F6;
    margin-bottom: 20px;
}
.low-mid{
    display: flex;
    flex-direction: column;
    margin: 0px -10px 0px -10px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-family: Courier;
    font: 36px;
    padding: 60px 0px 60px 0px;

}
.call {
    
    background-color: #3882F6;
    border-radius: 5px;
    color:#ffffff;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    
}

h4 {
    margin-bottom: 0px;
    padding-top: -10px;
    margin-top: 0px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    margin-left: 200px;
    margin-right: 50px;
    margin-top: -50px;
    font-size: 15px;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

footer{
    background-color:#1F2937;
    color: #F9FAF8;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    margin: -10px;
    
}

h5 {
    text-align: center;
    padding: 30px;
    
}