.hero {
    background-color:#1F2937;
    color:#ffffff;
    
    
}
.main {
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
}
.flex-container2 {
   display: flex;
   justify-content: space-evenly;
   gap: 52px;
}
.top {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    
}

.about, .videos, .listen {
    margin: 10px 100px 10px 10px;
    padding: 10px;
    border: 1px solid white;
   
}

.header {
    margin-right: auto;
    margin-left: 64px;
    margin-top: 10px;
    color: #F9FAF8;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 100px;
}
h3 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -30px;
}
.button {
    margin-left: 100px;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: #3882F6;
    
}

.image {
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

.work {
    max-width: 200px;
}

.text {
    text-align: center;
    font-family: Courier New;
}
.text2 {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Courier New;
}
.images {
    border-radius: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid #3882F6;
    margin-bottom: 20px;
}
.low-mid{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-family: Courier;
    font: 36px;
    padding: 60px 0px 60px 0px;

}
.call {
    background-color: #3882F6;
    border-radius: 5px;
    
}